#navigation{
    height: 85px;
    background-color: black;
}

h2{
    text-align: center;
}

.product1{
   
    background-image: url("../images/new-1-hover.gif");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product2{
   
    background-image: url("../images/new-2-hover.gif");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product3{
   
    background-image: url("../images/new-3-hover.gif");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product4{
   
    background-image: url("../images/new-4-hover.gif");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product5{
   
    background-image: url("../images/new-5-hover.gif");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product6{
   
    background-image: url("../images/new-6-hover.jpg");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product7{
   
    background-image: url("../images/best-sell1-hover.jpg");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product8{
   
    background-image: url("../images/best-sell2-hover.gif");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.product9{
   
    background-image: url("../images/best-sell3-hover.jpg");
    background-position: center;
    background-size: cover; 
    background-origin: content-box;
    
}

.custom-hover img{
    transition: opacity 300ms ease-out 0s;
}
.custom-hover:hover img{
    opacity: 0;
}
.price {
    direction: rtl;
    text-align: center;
    color: #585858;
}
.price a{
    direction: ltr;
    text-decoration: none;
    color: #585858;
    font-size: 15px;
}
.price a:hover {
    color: #ed1c24;
}
.price p{
    font-weight: bold;
}
.price del{
    color: #a0a0a0;
}

.support{
    background-color: #f7f7f7;
} 
@media all and (max-width:767px){
}


@media all and (min-width:768px) and (max-width:991px) {

}

@media all and (min-width:992px){

}